.button {
  padding: 20px 30px;
  transition: all $baseAnimationType $baseAnimationSpeed;
  border: none;
  font-weight: 600;
  font-size: 14px;
  @include user-select;

  &--primary {
    background-color: $sunglow;
    box-shadow: $boxShadowGlobal;
    &:hover {
      background-color: $mustard;
    }
  }
  &--inverted {
    background-color: $white;
    box-shadow: $boxShadowGlobal;
    &:hover {
      background-color: $half-dutch-white;
    }
  }
  &--minimal {
    background-color: $transparent;
  }
}
