.copy {
  margin-bottom: 40px;
  &__paragraph {
    margin-bottom: 15px;
    line-height: 1.3em;
    &--size-super {
      font-size: 36px;
    }
    &--size-large {
      font-size: 20px;
    }
    &--size-medium {
      font-size: 18px;
    }
    &--size-small {
      font-size: 14px;
    }
    &--weight-regular {
      font-weight: 400;
    }
    &--weight-semibold {
      font-weight: 600;
    }
    &--weight-bold {
      font-weight: 700;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
