.hamburger {
  width: 25px;
  height: 25px;
  @include user-select;
  @include tablet-up {
    display: none;
  }
  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: $mine-shaft;
    margin: 5px 0;
  }
}
