.header {
  position: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 0;
  left: 0;
  width: 100%;
  transition: all $baseAnimationType $baseAnimationSpeed;
  background-color: $transparent;
  box-shadow: $boxShadowRemoved;
  &--reduced {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $white;
    box-shadow: $boxShadowMenu;
  }
}
