.heading {
  &--size-large {
    font-size: 50px;
    margin-bottom: 40px;
    + .heading__divider {
      margin-bottom: 40px;
    }
  }
  &--size-medium {
    font-size: 40px;
    margin-bottom: 30px;
    + .heading__divider {
      margin-bottom: 30px;
    }
  }
  &--size-small {
    font-size: 36px;
    margin-bottom: 25px;
    + .heading__divider {
      margin-bottom: 25px;
    }
  }
  &--size-extra-small {
    font-size: 24px;
    margin-bottom: 25px;
    + .heading__divider {
      margin-bottom: 25px;
    }
  }
  &--margin-bottom-small {
    margin-bottom: 15px;
  }
  &--margin-bottom-extra-large {
    margin-bottom: 120px;
  }
  &__divider {
    max-width: 100px;
    width: 100%;
    height: 2px;
    &--black {
      background-color: $black;
    }
    &--yellow {
      background-color: $mustard;
    }
  }
}
