$logoWidth: 100px;
$logoWidthMobile: 60px;

.menu {
  display: flex;
  align-items: center;
  @include tablet-down {
    justify-content: space-between;
  }
  &__list {
    display: flex;
    width: calc(50% - #{$logoWidth} / 2);
    &--align-left {
      justify-content: flex-start;
    }
    &--align-right {
      justify-content: flex-end;
    }
    @include tablet-down {
      display: none;
    }
  }
  &__item {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .menu__link {
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  &__link {
    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 50%;
      width: 0%;
      height: 2px;
      transition: all $baseAnimationType $baseAnimationSpeed;
      background-color: $mustard;
    }
  }
  &__logo {
    width: $logoWidth;
    @include tablet-down {
      width: $logoWidthMobile;
    }
  }
}
