.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  transition: all $baseAnimationType $baseAnimationSpeed;
  background-color: $backgroundOverlay;
  &--hasOpacity {
    opacity: 1;
  }
  &__container {
    background-color: white;
    max-width: 800px;
    width: 100%;
    margin: auto;
    position: relative;
    box-shadow: $boxShadowGlobal;
  }
  &__close {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(0deg);
    transition: all $baseAnimationType $baseAnimationSpeed;
    background-color: $transparent;
    background-size: contain;
    background-image: url("/img/icons/icon-cross.svg");
    &:hover {
      transform: rotate(90deg);
    }
  }
}
