$transparent:        transparent;
$black:              #000000;
$white:              #FFFFFF;
$half-dutch-white:   #FEF6DC;
$mine-shaft:         #333333;
$sunglow:            #FFD326;
$mustard:            #FFDC53;

$backgroundOverlay:  rgba(51,51,51,.35);
