@mixin tablet-down {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin laptop-down {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin grid {
  @for $i from 1 through 10 {
    &--#{$i * 10} {
      width: #{$i * 10%};
    }
  }
}

@mixin user-select {
  cursor: pointer;
  user-select: none;
}
