$marginRight: 40px;

.blurb {
  max-width: 350px;
  width: calc(100% / 3 - #{$marginRight} * 2 / 3);
  margin-right: $marginRight;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include laptop-down {
    width: calc(100% / 2 - #{$marginRight} / 2);
    margin-bottom: 50px;
    &:nth-of-type(2n + 2) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include tablet-down {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:nth-of-type(3n + 3) {
    margin-right: 0;
  }
  &__image {
    border-radius: 50%;
    overflow: hidden;
    max-width: 250px;
    margin-bottom: 30px;
  }
}
