.call-to-action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__image {
    width: 50%;
    @include tablet-down {
      width: 100%;
      order: 2;
    }
  }
  &__content {
    width: 50%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet-down {
      width: 100%;
      order: 1;
      margin-bottom: 40px;
    }
  }
}
