.information {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__image {
    width: 50%;
    padding: 0 45px 0 0;
    @include tablet-down {
      width: 100%;
      order: 2;
      padding: 0;
    }
  }
  &__content {
    width: 50%;
    padding: 0 0 0 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @include tablet-down {
      width: 100%;
      order: 1;
      padding: 0;
    }
  }
}
