*::-webkit-scrollbar-track {
  background-color: $white;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $mine-shaft;
}

.site-width {
  margin-left: auto;
  margin-right: auto;
  &--full {
    max-width: 100%;
  }
  &--max {
    max-width: 1280px;
  }
  &--med {
    max-width: 1024px;
  }
  &--small {
    max-width: 768px;
  }
}

.site-gutter {
  padding-left: 30px;
  padding-right: 30px;
}
