.background-color {
  &--white {
    background-color: $white;
  }
  &--off-white {
    background-color: $half-dutch-white;
  }
}

.background-image {
  background-size: cover;
  background-position: center;
}
