.newsletter {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  &__image {
    width: 50%;
    background-size: cover;
    background-position: center;
    @include tablet-down {
      display: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 70px 30px;
    @include tablet-down {
      width: 100%;
    }
  }
}
